/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Baloo 2';
	src: url('/fonts/Baloo2-Bold.woff2') format('woff2'), url('/fonts/Baloo2-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Baloo 2';
	src: url('/fonts/Baloo2-ExtraBold.woff2') format('woff2'), url('/fonts/Baloo2-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Baloo 2';
	src: url('/fonts/Baloo2-Medium.woff2') format('woff2'), url('/fonts/Baloo2-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Baloo 2';
	src: url('/fonts/Baloo2-Regular.woff2') format('woff2'), url('/fonts/Baloo2-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Baloo 2';
	src: url('/fonts/Baloo2-SemiBold.woff2') format('woff2'), url('/fonts/Baloo2-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html {
    display: flex;
    justify-content: center;
}

body {
	color: #515151;
	font-family: 'Baloo 2';
	display: flex;
	justify-content: center;
	width: 100vw;
}

body > div {
	display: flex;
	justify-content: center;
	width: 100%;
}

/* icons inside of buttons */
button .feather {
	margin-left: 0.6rem;
}

button:focus {
	outline: 0;
}

h1 {
	@apply font-bold text-3xl md:text-5xl mb-2
}

h2 {
	@apply font-bold text-xl md:text-3xl mb-3
}