@font-face {
	font-family: 'Baloo2';
	src: url('fonts/Baloo2-VariableFont_wght') format('ttf') tech('variations'),
		url('RobotoFlex-VF.woff2') format('woff2-variations');
	font-weight: 400 800;
}

:root {
	font-family: Baloo2;
	color: #303030;
	--default-text-color: #303030
}
